<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Creando producto', stylesheet: 'productFormsStyle.css'}) %>
    
</head>
<body>
    <%- include('partials/header') %> 
    <main id="createFormBody">
        <h5 id="titulo">Ingresa los datos correspondientes para añadir el nuevo producto al inventario:</h5>
        <form action="/productos/crear" id="formulario"enctype="multipart/form-data" method="POST">
            <div class="campo">
                <label for="name"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.name){%>
                    <div><p class="validation-error"><%=  errorMessage.name.msg %></p></div> 
                <% } %>
                <p class="validation-error-front invisible nameError">El nombre debe tener al menos 5 caracteres!</p>
                <input type="text" value="<%=locals&&locals.old&&locals.old.name?old.name:null%>" class="dataInput" id="name" name="name" placeholder="Nombre del producto">
            </div>
            <div class="campo">
                <label for="price"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.price){%>
                    <div><p class="validation-error"><%=  errorMessage.price.msg %></p></div> 
                <% } %>
                <p class="priceError invisible validation-error">El precio mínimo es $300</p>
                <input type="number" value="<%=locals&&locals.old&&locals.old.price?old.price:null%>" class="dataInput" name="price" id="price" placeholder="Precio">
            </div>
            <div class="campo">
                <label for="discount"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.discount){%>
                    <div><p class="validation-error"><%=  errorMessage.discount.msg %></p></div> 
                <% } %>
                <input type="number" value="<%=locals&&locals.old&&locals.old.discount?old.discount:null%>" class="dataInput" name="discount" id="discount" placeholder="Descuento">
            </div>
            <div class="campo">
                <label for="capacity"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.cantidad){%>
                    <div><p class="validation-error"><%=  errorMessage.cantidad.msg %></p></div> 
                <% } %>
                <input type="text" value="<%=locals&&locals.old&&locals.old.cantidad?old.cantidad:null%>" name="capacity" class="dataInput" id="capacity"  placeholder="Capacidad">
            </div>
            <div class="campo">
                <label for="brand"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.marca){%>
                    <div><p class="validation-error"><%=  errorMessage.marca.msg %></p></div> 
                <% } %>
                <input type="text" value="<%=locals&&locals.old&&locals.old.marca?old.marca:null%>" class="dataInput" name="brand" id="brand" placeholder="Marca:">
            </div>
            <div class="campo">
                <label for="category"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.category){%>
                    <div><p class="validation-error"><%=  errorMessage.category.msg %></p></div> 
                <% } %>
                <select name="category" id="category" class="dataInput">
                    <!--Habria que hacer una validación para que no se pueda seleccionar la opción Categoría-->
                    <option value="" selected>Categoría</option>
                    <option value="1" <%=locals&&locals.old&&locals.old.category=="1"?'selected':null%>>Cuidado bucal</option>
                    <option value="2" <%=locals&&locals.old&&locals.old.category=="2"?'selected':null%>>Cuidado corporal</option>
                    <option value="3" <%=locals&&locals.old&&locals.old.category=="3"?'selected':null%>>Cuidado facial</option>
                    <option value="4" <%=locals&&locals.old&&locals.old.category=="4"?'selected':null%>>Verano</option>
                    <option value="5" <%=locals&&locals.old&&locals.old.category=="5"?'selected':null%>>Capilar</option>
                    <option value="6" <%=locals&&locals.old&&locals.old.category=="6"?'selected':null%>>Higiene</option>
                </select>
            </div>
            <div class="campo">
                <label for="description"></label>
                <% if(locals && locals.errorMessage && locals.errorMessage.description){%>
                    <div><p class="validation-error"><%=  errorMessage.description.msg %></p></div> 
                <% } %>
                <p class="validation-error-front invisible descriptionError">La descripcion debe tener al menos 20 caracteres!</p>
                <textarea name="description" id="description" placeholder="Descripción del producto" class="dataInput" rows="4" cols="50" ><%=locals&&locals.old&&locals.old.description?old.description:null%></textarea>
            </div>
            <div class="campo">
                <label for="uploadImage" id="labelImgInput">Imagen:</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.imgNewProduct){%>
                    <div><p class="validation-error"><%=  errorMessage.imgNewProduct.msg %></p></div> 
                <% } %>
                <input type="file" name="imgNewProduct" id="inputFotoPerfil" class="dataInput">
            </div>
            <div id="submitDiv">
                <button type="submit" class="campo botonFormulario" id="submitButton">Crear producto</button>
            </div>
        </form>
    </main>


    <%- include('partials/footer') %> 
    <script src="/jsFront/productCreateEditValid.js"></script>
</body>


</html>