<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: productParam.name, stylesheet: 'detailStyle.css'}) %> 
</head>
<body>
    <%- include('partials/header') %> 
    <main class="product-main">
        <section class="area-prod">
                <div class="tituloyfoto">
                    <div class="prodyprecio">
                        <h3 class="nombre-prod"><%= productParam.name %> </h3>
                        <h2 class="precio-prod">$<%= productParam.price %> </h2>
                    </div>                
                    <div class="container-img-prod">
                        <img src="/images/productos/<%= productParam.image%>" alt="Foto <%= productParam.name %> ">
                    </div>
                </div>
                <div class="desarrollo-prod">
                    <div class="container-textos">
                        <div class="descripcion-prod desc-comp-hover">
                            <div class="box-descripcion-prod box-hover">
                                <h4 class="titulo-descripcion-prod">Descripcion del producto</h4>
                                <div id="logo-arrow">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="texto-descripcion-prod texto-hover-appear">
                                <%= productParam.description %>
                            </p>
                        </div>
                        <div class="componentes-prod desc-comp-hover">
                            <div class="box-componentes-prod box-hover">
                                <h4 class="titulo-componentes-prod">Marca</h4>
                                <div id="logo-arrow">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <p class="texto-componentes-prod texto-hover-appear">
                                <%= productParam.marca %>
                            </p>
                        </div>
                    </div>
                    <form action="/usuario/cart/<%=productParam.id%> " method="POST" class="unidades-carrito">
                            <div class="caja-unidades">
                                <label for="unidades">Elige las unidades</label>
                                <select type="text" name="unidades" id="unidades">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <button type="submit" class="button add-carrito">Agregar al carrito</button>
                    </form>
                    <% if (userIsEmployee == true) { %> 
                    <div class="buttons-empleado">
                        <div class="button edit">
                            <a href="/productos/<%= productParam.id %>/editar"  class="edit-ref">Editar producto</a>
                        </div>
                        <form action="/productos/<%= productParam.id %>/?_method=" method="POST">
                            <button class="button delete" type="submit">Eliminar producto</button>
                        </form>
                    </div>
                    <% } %> 
                </div>
        </section>
        <section class="relacionados">
            <h3>Poductos relacionados</h3>
            <div class="imagenes-relacionados">
                <img src="#" alt="Foto 1" class="img-relacionado">
                <img src="#" alt="Foto 2" class="img-relacionado">
                <img src="#" alt="Foto 3" class="img-relacionado">
            </div>
        </section>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>