<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: productParam.name, stylesheet: 'detailStyle.css'}) %> 
</head>
<body>
    <%- include('partials/header') %> 
    <main id="productMain">
        <div class="links">
            <a href="/">Home</a>   /
            <a href="/productos">Productos</a>   /
            <a href="/productos/<%=productParam.id%>"><%=productParam.name%></a> 
        </div>
        <section class="areaProducto">
                <h3 id="nombreProducto"><%= productParam.name %></h3>
                <section id="flex">
                    <div id="imageDiv">
                        <img id="productImage"src="/images/productos/<%= productParam.image%>" alt="Foto <%= productParam.name %>">
                    </div>
                    <section id="texto">
                        <div id="precioYprod">
                            <h3>$<%= productParam.price %> </h3>
                            <% if (productParam.discount > 0){ %> 
                                <h3><%= productParam.discount %>%</h3>
                            <% } %> 
                        </div>
                        <div class="detalleProd">
                            <p class="description"><%= productParam.description %></p>
                            <h4 class="titulo-componentes-prod">Marca <%= productParam.brand %></h4>
                            <% if (userIsEmployee == false) { %>
                                <form action="/cuenta/cart/<%=productParam.id%>" method="POST" id="userButtons">
                                        <div id="chooseCuantity">
                                            <label for="quantity">Elige las unidades</label>
                                            <select name="quantity" id="quantity">
                                            <% if(productParam.stock) {%> 
                                                <% for(i=1; i <= productParam.stock; i++){ %> 
                                                    <option value="<%=i%>"><%=i%></option>
                                                <% } %> 
                                            <% } %>
                                            <% if(!productParam.stock){%> 
                                                <option value="1">1</option>
                                            <% } %> 
                                            </select>
                                        </div>
                                        <button type="submit" id="CartButton">Agregar al carrito</button>
                                </form>
                            <% } %> 
                            <% if (userIsEmployee == true) { %> 
                                <div class="employeeButtons">
                                    <div class="button editButton">
                                        <a href="/productos/<%= productParam.id %>/editar"  id="editLink">Editar producto</a>
                                    </div>
                                    <form action="/productos/<%= productParam.id %>/?_method=DELETE" method="POST">
                                        <button class="button deleteButton" type="submit">Eliminar producto</button>
                                    </form>
                                </div>
                            <% } %> 
                        </div>
                    </section>
            </section>
   </section>
        <!-- <section class="relacionados">
            <h3>Poductos relacionados</h3>
            <div class="imagenes-relacionados">
                <%// for (i=0; i<3; i++) { %>
                    <a href="/productos/<%=// recommended[i].id%>" class="recommendedLink">
                        <img src="/images/productos/<%=// recommended[i].image %>" alt="<%=// recommended[i].name %> " class="img-relacionado">
                    </a>
                <%// } %>
            </div>
        </section> -->
    </main>
    <%- include('partials/footer') %> 
</body>
</html>