<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: productParam.name, stylesheet: 'detailStyle.css'}) %> 
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="links">
            <a href="/">Home</a>   /
            <a href="/productos">Productos</a>   /
            <a href="/productos/<%=productParam.id%>"><%=productParam.name%></a> 
        </div>
        <div class="dontShowAlert confirmDeleteDiv">
            <p>El producto eliminado no se puede recuperar, ¿Está seguro que quiere eliminarlo?</p>
            <div id="confirmDeleteButtons">
                <button id="cancelDeleteButton">Conservar producto</button>
                <form action="/productos/<%= productParam.id %>/?_method=DELETE" method="POST" id="deleteForm">
                    <button id="confirmDeleteButton">Eliminar permanentemente</button>
                </form>
            </div>
        </div>
        <section class="detailProductCard">
            <h3 id="productName"><%= productParam.name %></h3>
            <section id="cardFlex">
                <div id="cardImage">
                    <img id="productImage"src="/images/productos/<%= productParam.image%>" alt="Foto <%= productParam.name %>">
                </div>
                <div id="cardText">
                    <div id="pricing">
                        <h3>Precio $<%= productParam.price %></h3> 
                        <% if (productParam.discount > 0){ %> 
                            <h3> <%= productParam.discount %>%</h3>
                        <% } %>
                    </div> 
                    <div id="productDetail">
                        <p class="description"><%= productParam.description %></p>
                        <!-- AGREGAR MARCA -->
                        <% if (userIsEmployee == false) { %>
                            <form action="/cuenta/cart/<%=productParam.id%>" method="POST" id="userButtons">
                                <div id="buttonQuantity">
                                    <label for="quantity" id="quantityLabel">Elige las unidades</label>
                                    <select name="quantity" id="quantityInput">
                                        <% if(productParam.capacity) {%> 
                                            <% for(i=1; i <= productParam.capacity; i++){ %> 
                                                <option value="<%=i%>"><%=i%></option>
                                            <% } %> 
                                        <% } %>
                                        <% if(!productParam.capacity){%> 
                                            <option value="1">1</option>
                                        <% } %> 
                                    </select>
                                </div>
                                <div id="cartDiv">
                                    <button type="submit" id="buttonCart">Agregar al carrito</button>
                                </div>
                            </form>
                        <% } %> 
                        <% if (userIsEmployee == true) { %> 
                            <div id="employeeButtons">
                                <div id="editLinkDiv">
                                    <a href="/productos/<%= productParam.id %>/editar"  id="editLink">Editar producto</a>
                                </div>
                                <div>
                                    <button id="deleteButton" type="submit">Eliminar producto</button>
                                </div>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </section>
        </section>
        <script src="/jsFront/deleteConfirmation.js"></script>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>