<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: productToEdit.name, stylesheet: 'productFormsStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header') %> 
    <main>
        <form action="/productos/<%=productToEdit.id%>/editar/?_method=PUT" method="POST">
            <h3 id="titulo">Carga los datos a modificar de "<%= productToEdit.name %> ":</h3>
            <div class="campo">
                <label for="name">Nombre del producto:</label>
                <input type="text" id="name" name="name" value= <%= productToEdit.name %> class="dataInput">
            </div>
            <div class="campo">
                <label for="brand">Marca:</label>
                <input type="text" name="marca" value="<%= productToEdit.brand %>"  class="dataInput">
            </div>
            <div class="campo">
                <label for="price">Precio:</label>
                <input type="number" name="brand" id="brand" value= <%= productToEdit.price %> class="dataInput">
            </div>
            <div class="campo">
                <label for="discount">Descuento:</label>
                <input type="number" name="discount" id="discount" value= <%= productToEdit.discount %> class="dataInput">
            </div>
            <div class="campo">
                <label for="capacity">Capacidad:</label>
                <input type="text" name="capacity" id="capacity" value= <%= productToEdit.capacity  %> class="dataInput">
            </div>
            <!-- <div class="campo">
                <label for="color">Color:</label>
                <input type="text" name="color">
            </div> -->
            <div class="campo">
                <label for="category">Categoría:</label>
                <select name="category" id="category" class="dataInput">
                    <option value="1" <%= productToEdit.category == "bucal"?"selected":null%> >Cuidado bucal</option>
                    <option value="2" <%= productToEdit.category == "corporal"?"selected":null%>>Cuidado corporal</option>
                    <option value="3" <%= productToEdit.category == "facial"?"selected":null%>>Cuidado facial</option>
                    <option value="4" <%= productToEdit.category == "verano"?"selected":null%>>Verano</option>
                    <option value="5" <%= productToEdit.category == "capilar"?"selected":null%>>Capilar</option>
                    <option value="6" <%= productToEdit.category == "higiene"?"selected":null%>>Higiene</option>
                </select>
            </div>
            <div class="campo">
                <label for="description">Descripción:</label>
                <textarea name="description" id="description" class="dataInput"><%=productToEdit.description%></textarea>
            </div>
            <div class="campo">
                <label for="image">Imagen:</label>
                <input type="file" name="image" id="image" class="input-file" value="<%= productToEdit.image %>" class="dataInput">
                <p>Imagen actual: <%= productToEdit.image %> </p>
                
            </div>
            <div id="submitDiv">
                <button type="submit" id="submitButton">Guardar cambios</button>
            </div>
        </form>
        <a href="/productos/<%= productToEdit.id %>">Cancelar</a>
    <%- include('./partials/footer') %> 
</body>
</html>