<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Edit Profile', stylesheet: 'userFormsStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header')  %> 
    <main id="mainRegister">
        <h3 id="titulo">Creá tu cuenta</h3>
        <form action="/cuenta/profile/<%=user.id%>/edit" method="POST" enctype="multipart/form-data" id="formulario">
            <div class="nameContainer">
                <label for="nombre">Nombre</label>
                <input type="text" value="<%=user.name%>" name="nombre" id="nombre">
            </div>

            <div>
                <label for="apellido">Apellido</label>
                <input type="text" value="<%=user.lastName%>" name="apellido" id="apellido">
            </div>

            <div>
                <label for="email">Correo Electrónico</label>
                <input type="text" value="<%=user.email%>" name="email" id="email">
            </div>
            

            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="password" id="contraseña">
            </div>

            <div>
                <label for="confirmarContraseña">Confirmar contraseña</label>
                <input type="password" name="confirmPassword" id="confirmarContraseña">
            </div>

            <div>
                <label for="fotoPerfil">Foto de Perfil (si no deseas cambiarla o añadir una, deja este campo vacio)</label>
           
                <input type="file" name="userImage" id="inputFotoPerfil" accept=".jpg , .png">
            </div>

            <div>
                <button type="submit" class="botonFormulario">Guardar</button>
            </div>
<!-- 
            <div>
                <button type="reset" class="botonFormulario">Borrar</button>
            </div> -->

        </form>
    </main>
    <%- include('../views/partials/footer') %>
</body>
</html>