<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Log-in', stylesheet: 'userFormsStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h2 id="titulo">INICIÁ SESIÓN</h2>
        <form method="POST" action="/login" id="formulario">
            <div class="form-and-logo">    
                <div class="image-user">
                    <i class="fas fa-users"></i>
                </div>
                <div class="user-pass">

                    <div class="username">
                        <% if(locals && locals.errorMessage && locals.errorMessage == 'Usuario no encontrado'){ %> 
                        <h3><%= errorMessage  %> </h3>
                        <% } %> 
                        <label for="nombre-usuario">EMAIL</label>
                        
                        <input id="nombre-usuario" name="username"  value="<%=locals&&locals.old&&locals.old.username?old.username:null%>" required>
                    </div>
                    <div class="password">    
                        <% if(locals && locals.errorMessage && locals.errorMessage == 'Contraseña incorrecta'){ %> 
                            <h3><%= errorMessage  %> </h3>
                            <% } %> 
                        <label for="contraseña">CONTRASEÑA</label>
                        <input type="password" id="password"  name="password" required>
                    </div>
                </div>
            </div>
            <div id="divBotones">
                <button type="submit" class="botonFormulario">Ingresar</button>
                <a class="botonFormulario botonLink" href="/register">¿Aún no tienes cuenta?</a>
            </div>
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>