<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Listado de productos', stylesheet: 'productsStyle.css'}) %>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <h2 class="listadoTitulo">Explorar productos</h2>
        <% if (userIsEmployee == true) { %> 
            <div id="buttonCrear">
                <a href="/productos/crear" id="buttonLink">Añadir producto nuevo al inventario</a>
            </div>
        <% } %> 
        <div class="productos">
            <% products.forEach(product => { %>
                <div class="producto">
                    <a href="/productos/<%=product.id%> ">
                        <img src="/images/productos/<%=product.image%>"  alt="Imágen del producto" class="productImg">
                        <div class="productInfo">
                            <h3 class="productName"><%=product.name//.slice(0,25)%><!-- ... --> </h3>
                            <div class="productPricing">
                                <p class="price">$<%=product.price%></p>
                                <% if (product.dicount > 0){ %>
                                    <p class="discount">%<%=product.discount%></p>
                                <% } %> 
                            </div>
                            <div class="productDescription">
                                <p><%=product.description.slice(0,60)%>...</p>
                            </div>
                        </div>
                    </a>
                </div>

            <% }); %> 
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>