<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Listado de productos', stylesheet: 'productsStyle.css'}) %>
</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <h2 class="listadoTitulo">Listado de productos</h2>
        <% if (userIsEmployee == true) { %> 
            <div id="button-crear">
                <a href="/productos/crear">Añadir producto nuevo al inventario</a>
            </div>
        <% } %> 
        <div class="productos">
            <% products.forEach(product => { %>
                <div class="producto">
                    <a href="/productos/<%= product.id%>">
                        <img src="/images/productos/<%=product.image%>"  alt="Imágen del producto <%= product.name %>" class="productImg">
                    <div>
                        <h3 class="productName"><%= product.name %></h3>
                        <div class="productPricing">
                            <p class="price">$ <%= product.price %></p>
                            <p class="discount"><%= product.discount %></p>
                        </div>
                    </div>
                    </a>
                </div>
            <% }); %> 
        </div>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>