<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title:'Tu perfil', stylesheet:'profileStyle.css'}) %>
</head>
<body>
    <%- include ('partials/header') %> 
    <main id="mainProfile">
        <h2>Bienvenido <%= user[0].name %> <%= user[0].lastName %></h2>
        <div>
            <img src="/images/users/<%=user[0].profileImage%>" alt="foto de perfil de <%= user[0].name %>" id='profilePic'>
        </div>
        <form action="/productos">
            <button type="submit">Explorar productos</button>
        </form>
        <form action="/cuenta/logout" method="POST">
            <button>Cerrar sesión</button>
        </form>
    </main>
    <%- include ('partials/footer') %> 
</body>
</html>