<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Register', stylesheet: 'userFormsStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header')  %> 
    <main id="mainRegister">
        <h3 id="titulo">Creá tu cuenta</h3>
        <form action="/register" method="POST" enctype="multipart/form-data" id="formulario">
            <div class="nameContainer">
                <label for="nombre">Nombre</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.nombre){%>
                    <div><p class="validation-error"><%=  errorMessage.nombre.msg %></p></div> 
                <% } %>
                <p class="nombreError invisible validation-error">El campo del nombre debe ser completado</p>
                <input type="text" value="<%=locals&&locals.old&&locals.old.nombre?old.nombre:null%>" name="nombre" id="nombre">
            </div>

            <div>
                <label for="apellido">Apellido</label>
                <% if(locals.errorMessage && locals.errorMessage.apellido){%>
                    <div><p class="validation-error"><%=  errorMessage.apellido.msg %></p></div> 
                <% } %>
                <p class="apellidoError invisible validation-error">El campo del apellido debe ser completado</p>
                <input type="text" value="<%=locals&&locals.old&&locals.old.apellido?old.apellido:null%>" name="apellido" id="apellido">
            </div>

            <div>
                <label for="email">Correo Electrónico</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.email){%>
                    <div><p class="validation-error"><%=  errorMessage.email.msg %></p></div> 
                <% } %>
                <% if(locals && locals.existingEmail){%>
                    <div><p class="validation-error"><%= existingEmail %></p></div> 
                <% } %>
                <p class="emailError invisible validation-error"> Ingresar un email válido</p>
                <input type="text" value="<%=locals&&locals.old&&locals.old.email?old.email:null%>" name="email" id="email">
            </div>
            

            <div>
                <label for="contraseña">Contraseña</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.password){%>
                    <div><p class="validation-error"><%=  errorMessage.password.msg %></p></div> 
                <% } %>
                <p class="largoContraseñaError invisible validation-error"> La contraseña debe tener al menos 8 caracteres</p>
                <input type="password" name="password" id="contraseña">
            </div>

            <div>
                <label for="confirmarContraseña">Confirmar contraseña</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.confirmPassword){%>
                    <div><p class="validation-error"><%=  errorMessage.confirmPassword.msg %></p></div> 
                <% } %>
                <p class="confirmarContraseñaError invisible validation-error"> Asegurese que su contraseña coincida</p>
                <input type="password" name="confirmPassword" id="confirmarContraseña">
            </div>

            <div>
                <label for="fotoPerfil">Foto de Perfil</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.userImage){%>
                    <div><p class="validation-error"><%=  errorMessage.userImage.msg %></p></div> 
                <% } %>
                <input type="file" name="userImage" id="inputFotoPerfil" accept=".jpg , .png">
            </div>

            <div id="divBotones">
                <button type="submit" class="botonFormulario">Guardar</button>
            </div>
<!-- 
            <div>
                <button type="reset" class="botonFormulario">Borrar</button>
            </div> -->

        </form>
        <script src="/jsFront/registerValidation.js"></script>
    </main>
    <%- include('../views/partials/footer') %>
</body>
</html>