<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Register', stylesheet: 'registerStyle.css'}) %> 
</head>
<body>
    <%- include('./partials/header')  %> 
    <main>
        <h3 class="texto-centrado">Cre치 tu cuenta</h3>

        <form action="/register" method="POST" enctype="multipart/form-data" class="formulario-registro">
            <div>
                <label for="">Nombre</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.nombre){%>
                    <div><p class="validation-error"><%=  errorMessage.nombre.msg %></p></div> 
                <% } %>
                    <input type="text" value="<%=locals&&locals.old&&locals.old.nombre?old.nombre:null%>" name="nombre" class="input-tipo-texto">
            </div>

            <div>
                <label for="">Apellido</label>
                <% if(locals.errorMessage && locals.errorMessage.apellido){%>
                    <div><p class="validation-error"><%=  errorMessage.apellido.msg %></p></div> 
                <% } %>
                <input type="text" value="<%=locals&&locals.old&&locals.old.apellido?old.apellido:null%>" name="apellido" class="input-tipo-texto">
            </div>
            <!-- <div>
                <input type="text" placeholder="Nombre de Usuario" class="input-tipo-texto" required>
            </div> -->
            <!-- <div>
                <label for="">Fecha de Nacimiento:</label>
                <input type="date" name="birthDate" class="input-tipo-texto">
            </div> -->

            <div>
                <label for="">Correo Electr칩nico</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.email){%>
                    <div><p class="validation-error"><%=  errorMessage.email.msg %></p></div> 
                <% } %>
                <input type="text" value="<%=locals&&locals.old&&locals.old.email?old.email:null%>" name="email" class="input-tipo-texto" >
            </div>
            
            <div>
                <label for="">Contrase침a</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.password){%>
                    <div><p class="validation-error"><%=  errorMessage.password.msg %></p></div> 
                <% } %>
                <input type="password"  name="password" class="input-tipo-texto">
            </div>

            <div>
                <label for="">Confirmar contrase침a</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.confirmPassword){%>
                    <div><p class="validation-error"><%=  errorMessage.confirmPassword.msg %></p></div> 
                <% } %>
                <input type="password" name="confirmPassword" class="input-tipo-texto">
            </div>

            <div>
                <label for="profileImage">Foto de Perfil</label>
                <% if(locals && locals.errorMessage && locals.errorMessage.userImage){%>
                    <div><p class="validation-error"><%=  errorMessage.userImage.msg %></p></div> 
                <% } %>
                <input type="file" name="userImage" accept=".jpg , .png" class="input-tipo-archivo">
            </div>

            <div>
                <button type="submit" class="boton-formulario">Guardar</button>
            </div>

            <div>
                <button type="reset" class="boton-formulario">Borrar</button>
            </div>

        </form>
    </main>
    <%- include('../views/partials/footer') %>
</body>
</html>