<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Tu carrito', stylesheet: 'cartStyle.css'}) %>
</head>
<body>
    <%- include('./partials/header')%>
    <h2 class="titulo">Tu Carrito</h2>
    <% if(productos != undefined && productos.length > 0) {%> 
    <div class="contenedor-carrito">
            <section class="lista-productos">
                    <% productos.forEach(producto=>{ %>
                        <article class="producto">
                            <div class="contenedor-img-info">
                                <div class="contenedor-img">
                                    <img src="/images/productos/<%= producto.image %>" alt="<%= producto.name %>">
                                </div>
                                <div class="info-producto">
                                    <h3 class="nombre-producto"><%= producto.name %></h3>
                                    <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                                    <h4 class="precio-producto"><%= producto.price %></h4>
                                </div>
                            </div>
                            <div class="contenedor-boton-borrar">
                                <form action="/usuario/cart/<%=producto.id%>/delete" method="POST">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </article>
                    <% }) %> 

                
            <!--
            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="productos/images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <form action="">
                        <button type="submit"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </div>
            </article>

            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="/images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <button type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
            </article>

            <article class="producto">
                <div class="contenedor-img-info">
                    <div class="contenedor-img">
                        <img src="/images/crema-img.jpg" alt="">
                    </div>
                    <div class="info-producto">
                        <h3 class="nombre-producto">Crema Generica</h3>
                        <p class="descripcion-producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  </p>
                        <h4 class="precio-producto">Precio</h4>
                    </div>
                </div>
                <div class="contenedor-boton-borrar">
                    <button type="button"><i class="fas fa-trash-alt"></i></button>
                </div>
            </article>
            -->
            <div class="precio-a-pagar">
                <div>
                    <p>Descuento/s: </p>
                    <p>10%</p>
                </div>
                <div class="total-a-pagar">
                    <h3>Total: </h3>
                    <h3>$1000</h3>
                </div>
            </div>
        </section>
    </div>
    <section class="botones">
        <button>Seguir Comprando</button>
        <button>Finalizar Compra</button>
    </section>
    <% } %> 
    <% if(!productos || productos.length == 0){ %>
        <h2>Aún no añadiste productos a tu carrito</h2>
        <a href="/productos">Click aquí para ver el catálogo</a>
    <% } %> 
    <%- include('./partials/footer') %> 
</body>
</html>

