<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: 'Tu carrito', stylesheet: 'cartStyle.css'}) %>
</head>
<body>
    <%- include('./partials/header')%>
    <h2 id="titulo">Tu Carrito</h2>
    <% if(productsInCart != undefined && productsInCart.length > 0) {%> 
        <section id="cartProductsList">
            <% productsInCart.forEach(producto=>{ %>
                    <article class="cartProduct">
                        <div class="imageDiv">
                            <img src="/images/productos/<%= producto.image %>" alt="<%= producto.name %>">
                        </div>
                        <div class="infoContainer">
                            <div class="topInfoDiv">
                                <h3 class="nombre-producto"><%= producto.name %></h3>
                                <p class="descripcionProducto"><%=producto.description%></p>
                            </div>
                            <div class="bottomInfoDiv">
                                <h4 class="precioProducto">$<%= producto.price %></h4>
                                <form action="/cuenta/cart/<%=producto.id%>/delete" method="POST">
                                    <button type="submit"><i class="fas fa-trash-alt deleteIcon"></i></button>
                                </form>
                            </div>
                        </div>
                        <!--
                            <div>
                                <p>Unidades: <%=//producto.quantity%> </p>
                            </div>
                        -->
                    </article>
            <% }) %> 
            <div id="totalPrice">
                <%let price = 0; %> 
                <%productsInCart.forEach(prod =>{ price += prod.price})%>
                <h3>Total: $<%= price %></h3>
            </div>
        </section>
        <section id="purchaseButtons">
            <button>Seguir Comprando</button>
            <button>Finalizar Compra</button>
        </section>
    <% } %> 
    <% if(!productsInCart || productsInCart.length == 0){ %>
        <a href="/productos" id="emptyCartSign">Aún no añadiste productos a tu carrito</a>
    <% } %> 
    <%- include('./partials/footer') %> 
</body>
</html>

